html {
    scroll-behavior: smooth;
}

.key {
    padding: 0.75rem 1rem;
    background-color: white;
    color: #A26769;
    font-weight: 500;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 2.5rem;
    text-align: center;
    user-select: none;
    transition: all 0.3s ease;
    cursor: default;
    font-size: 1rem;
}

.clickable {
    background-color: #F6BDC0;
    color: white;
    font-weight: 600;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.clickable:hover {
    background-color: #D8A7B1;
    transform: scale(1.05);
}

.typewriter::after {
  content: "|";
  animation: blink 0.7s infinite;
  color: #A26769;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

/* Mobile Responsive Styles */
@media (max-width: 480px) {
    .key {
    width: 1.5rem;
    padding: 0.3rem;
    font-size: 0.875rem;
    }

    .clickable {
    padding: 0.3rem;
    font-size: 0.9rem;
    }
}

.ring-animate {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background: conic-gradient(from 0deg, #ffdadc, #A26769, #ffdadc);
  animation: spin 5s linear infinite;
  padding: 5px;
  z-index: 1;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}